<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Complete Your Payment</h1>

    <button id="rzp-button1">Pay with Razorpay</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "{{ razorpay_key }}", // Razorpay Key ID
            "amount": "{{total_price}}", // Amount in paisa
            "currency": "INR",
            "name": "{{ user_name }}",
            "description": "Order Payment",
            "order_id": "{{ razorpay_order_id }}", // Razorpay order ID
            "callback_url": "http://localhost:8000/order_management/verify_razorpay_payment/",
            "prefill": {
                "name": "{{ user_name }}",
                "email": "{{ user_email }}",
            },
            "theme": {
                "color": "#0099ff" // Customize the color
            }
            // ,
            // "modal": {
            //     "ondismiss": function() {
            //         window.location.href = "{% url 'order_success' order_id=order.id %}";
            //     }
            // }
        };

        var rzp1 = new Razorpay(options);

        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>

</html>