{% extends "admin_page/main.html" %}
{% load static %}
{% block title %}Add Product{% endblock %}

{% block content %}
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add New Product</h2>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <h2>Add Product</h2>
                    
                    {{ product_form.as_p }}
                
                    <button type="submit">Next: Add Variants</button>
                </form>
                
            </div>
        </div>
    </section>
</main>
{% endblock content %}
